body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
  background-image: url('back2.jpg');
  background-position: center;
  background-attachment: fixed;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#video{
  position:fixed;
  z-index: -1;
  width: 100%;
}